body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#input-produto {
    margin: 10px;
    width: 350px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #908c8c;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff7300;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #eec373;
}

#botao-compra {
    margin: 10px 0px;
}
